/*--------------------------------------------
MAIN
---------------------------------------------*/
body {
	background: #EEEDEB;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

input, textarea, select, button {
	outline: none;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/*--------------------------------------------
HEADER
---------------------------------------------*/
#header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 70px;
	background: #2F0862;
	z-index: 9999;
}

#logo {
	text-align: center;
}

#logo a img {
	outline: none !important;
}

#header ul.dropdown-menu li a {
	padding: 0 15px;
	font-size: 13px;
	color: #333333;
}

#header .dropdown-menu {
  right: 0;
  left: auto;
}

#header .dropdown-menu .divider {
	margin: 5px 0;
}  

#navbar {
	position: relative;
	top: 70px;
	padding: 10px 0;
	width: 100%;
	background: #cccccc;
}

/*--------------------------------------------
BODY
---------------------------------------------*/
#page-container {
	position: relative;
	top: 70px;
}

#content {
	padding-bottom: 60px;
}
/*--------------------------------------------
POSTS
---------------------------------------------*/
.post-item {
	position: relative;
	margin-top: 50px;
	padding: 20px 0;
	min-height: 100px;
	max-width: 650px;
	background: #ffffff;
	-moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

span.post-timestamp {
	position: absolute;
	top: -22px;
	left: 0;
	font-size: 12px;
	font-weight: bold;
}

.post-item a.post-person {
	position: absolute;
	top: 0;
	left: -90px;
	max-width: 70px;
}

.post-item a.post-person h3 {
	margin-top: 5px;
	font-size: 12px;
	color: #333333;
	text-align: center;
}

.post-item a.post-person:hover {
	text-decoration: none;
}

.post-content p {
	padding: 0 20px;
	font-size: 16px;
}

.social-block {
	margin-top: 20px;
	padding: 10px 20px;
	border-top: 1px solid #cccccc;
}

.social-block i.fa {
	padding-left: 5px;
}

a.comments-open {
	font-size: 12px;
	color: #333333;
	text-decoration: underline;
	cursor: pointer;
}

.comment-block {
	padding-top: 20px;
	border-top: 1px solid #cccccc;
}

blockquote .comment-item p {
	font-size: 14px;
	color: #333333;
}

blockquote .comment-item p a, blockquote .comment-item p a:visited {
	color: #2F0862;
}

blockquote .comment-item p.published {
	margin-bottom: 5px;
	font-size: 10px;
	font-style: italic;
}

/*--------------------------------------------
SIDEBAR
---------------------------------------------*/
#sidebar {
	padding: 0;
	background: #ffffff;
}

.sidebar-section {
	padding: 10px 20px;
	border-bottom: 1px solid #cccccc;
}

.side-headline {
	padding: 10px 20px;
	background: #2F0862;
}

.side-headline h2 {
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
}

.side-headline i.fa.fa-plus {
	color: #ffffff;
	cursor: pointer;
}

#profile a {
	font-size: 16px;
	line-height: 40px;
	color: #ffffff;
}

#profile i.fa.fa-cog {
	font-size: 24px;
	line-height: 40px;
	color: #ffffff;
}

input.checkbox {
	width: 20px;
	height: 20px;
	border: 1px solid #cccccc;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	outline: none !important;
}

/*--------------------------------------------
FORMS
---------------------------------------------*/
form#add-post .form-group,
form.add-comment .form-group {
	position: relative;
	margin-bottom: 0;
	max-width: 650px;
}

form#add-post input[type="text"] {
	padding-right: 75px;
	max-width: 650px;
	min-height: 40px;
	outline: none !important;
	border: none;
}

form#add-post button.btn.btn-default {
	position: absolute;
	top: 1px;
	right: 1px;
	min-height: 39px;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 1px solid #cccccc;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	outline: none !important;
}

form.add-comment input[type="text"] {
	padding-right: 60px;
	outline: none !important;
}

form.add-comment button.btn.btn-default {
	position: absolute;
	top: 1px;
	right: 1px;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 1px solid #cccccc;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	outline: none !important;
}

/*--------------------------------------------
SYMPTOM BULLETS
---------------------------------------------*/
.symptom-bullet {
	margin-right: 15px;
	font-size: 14px;
}

.symptom-bullet.red {
	color: #FF6054;
}

.symptom-bullet.yellow {
	color: #FFBE05;
}

.symptom-bullet.green {
	color: #14CB34;
}

/*--------------------------------------------
COLORS
---------------------------------------------*/
.teal {
	color: #1BB19E;
}

/*--------------------------------------------
PROFILE IMAGES
---------------------------------------------*/
img.profile-small {
	margin-right: 10px;
	max-width: 40px;
	max-height: 40px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

img.profile-mid {
	max-width: 70px;
	max-height: 70px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
}

/*--------------------------------------------
MISC
---------------------------------------------*/
.table {
	display: table;
	margin-bottom: 0;
}

.table-center {
	display: table-cell;
	vertical-align: middle;
}

.text-center {
	text-align: center;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.clear {
	float: none;
	clear: both;
}