/* ==========================================================================
	#Media Queries
========================================================================== */
/* small desktops */
@media(max-width: 1199px) {
	
	p.name { display: none; }
}

/* tablets */
@media(max-width: 991px) {

}

/* mobile */
@media(max-width: 767px) {


/*--------------------------------------------
HEADER
---------------------------------------------*/
#profile { display: none; }
#mobile-nav-btn { display: block; }
#mobile-nav-btn i.fa.fa-bars {
	position: absolute;
	top: 19px;
	right: 20px;
	font-size: 32px;
	color: #ffffff;
	cursor: pointer;
}
/*body.snapjs-right #drawer { display: block; right: 0; }*/
#navbar { display: none; }
#post-box { display: none; }
#logo { top: 15px; }
#mobile-post-box { display: block; }

}