<h1>Progress Chart</h1>

Overall summery: show "Conditions or Problems" in a nicer way

* Group by Condition
	lab results/procedures
	medications/plan of care

* turn Vital Signs into a chart (can add our own inputs via wearables)

* Match Procedures with Lab Results (in Results)

* Plan of Care is skimpy, needs to add in Medications, & Procedures

* Exercise and Diet and Other need to go into Plan of Care (Plan of Self-Care?)

CATEGORIES OF DATA
Allergies, Adverse Reactions, Alerts
Immunizations
Results
Medications
Plan of Care
Conditions or Problems
Procedures
Social History
Vital Signs